{% extends 'base.html' %}
{% block content %}
<div>
    <h1>All chat</h1>
    {% if chat_list %}
        <ul>
            {% for chat in chat_list %}
            <li>
                <a href="{% url 'messages:message_by_chat_id' chat.id %}">Chat id - {{ chat.id }}</a> Chat name - ({{chat.name}})
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no chat in the database.</p>
    {% endif %}

    <div class="create_new_chat">
        {% csrf_token %}
        <input id="chat_name" name="chat_name" placeholder="Enter chat name" required>
        <button type="submit" class="btn btn-primary pl-5 pr-5 btnSave" onclick="sortCommentsByText('{{csrf_token}}')">Create</button>
    </div>

    
</div>
{% endblock content %}
{% block scripts %}
<script>
    function sortCommentsByText(csrf_token){
        var el = document.getElementById("chat_name");
        var chat_name = el.value;
        
        $.ajax({
            url: 'chat/create',
            type: "POST",
            data : {
                'csrfmiddlewaretoken' : csrf_token,
                'chat_name' : chat_name,
            },
            success: function(){
                location.reload()
            },
        });
    }
</script>
{% endblock scripts %}