{% extends 'base.html' %}
{% block content %}
<div>
    <h1>All chat</h1>
    {% if chat_list %}
        <ul>
            {% for chat in chat_list %}
            <li>
                <a href="{% url 'messages:message_by_chat_id' chat.id %}">Chat id - {{ chat.id }}</a> Chat name - ({{chat.name}})
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no chat in the database.</p>
    {% endif %}

    <a href="#">Create new chat</a>

    
</div>
{% endblock content %}